          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">¿Quieres hacernos un regalito?</h1>
                <p>Aquí hay una lista de lugares donde nos encantaría estar en nuestra luna de miel, además de algunas cosas que nos hacen falta para el departamento.</p>
              </div>
            </div>
            <div class="row">
              <div class="team-wrapper">
                <div>
                  <ul>

                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gitana.png" alt="Team Member">
                        <h3>Aporte para 6 noches en Hotel Gitana del Mar, Santa Marta<div class="precio">Costo total <i class="fa fa-usd"></i>1.082.688</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/ArDMT" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/ecohabs.png" alt="Team Member">
                        <h3>Aporte para 3 noches en Ecohabs Tayrona, Santa Marta<div class="precio">Costo total <i class="fa fa-usd"></i>782.223</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/IMIDr" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}/img/regalos/cartagena.png" alt="Team Member">
                        <h3>Aporte para los pasajes a Cartagena, Colombia<div class="precio">Costo total <i class="fa fa-usd"></i>462.814</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/Wudaj" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-05s">
                        <img src="{{ site.baseurl }}/img/regalos/casa-lola.png" alt="Team Member">
                        <h3>Aporte para 3 noches Hotel Casa Lola, Cartagena de Indias<div class="precio">Costo total <i class="fa fa-usd"></i>337.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/nq5mJ" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/majagua.png" alt="Team Member">
                        <h3>Aporte para 3 noches en Hotel San Pedro de Majagua, Islas del Rosario<div class="precio">Costo total <i class="fa fa-usd"></i>333.535</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/c2K6b" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/el-faro.png" alt="Team Member">
                        <h3>Aporte para 3 noches en Hotel Punta Faro, Isla Mucura<div class="precio">Costo total <i class="fa fa-usd"></i>315.760</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/WsNBi" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
