          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">¿Quieres hacernos un regalito?</h1>
                <p>Para nosotros tu presencia es lo más importante, pero si quieres hacernos un regalito, te dejamos una lista de lugares y cosas que nos gustaría conocer y hacer.</p>
              </div>
            </div>
            <div class="row">
              <div class="team-wrapper">
                <div>
                  <ul>

                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif01.jpg" alt="Team Member">
                        <h3>Aporte para cena Romántica para los novios<div class="precio">Costo total <i class="fa fa-usd"></i>200.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/QwTor" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/gif02.jpg" alt="Team Member">
                        <h3>Regalo Sorpresa<div class="precio">Costo total <i class="fa fa-usd"></i>50.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/pKWLu" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}/img/regalos/gif03.jpg" alt="Team Member">
                        <h3>Aporte para vuelo en Globo Aerostático<div class="precio">Costo total <i class="fa fa-usd"></i>250.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/g7dUD" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/gif04.jpg" alt="Team Member">
                        <h3>Aporte para clases de buceo en islas filipinas<div class="precio">Costo total <i class="fa fa-usd"></i>300.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/A3Cwt" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif05.jpg" alt="Team Member">
                        <h3>Pasajes y estadía para la Copa del Mundo en Rusia 2018<div class="precio">Costo total <i class="fa fa-usd"></i>90.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/m4sdy" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif06.jpg" alt="Team Member">
                        <h3>Aporte para aire(s) Acondicionado(s)<div class="precio">Costo total <i class="fa fa-usd"></i>150.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/mc6jt" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif07.jpg" alt="Team Member">
                        <h3>Pasajes Aéreos a Nepal<div class="precio">Costo total <i class="fa fa-usd"></i>80.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/JPa2f" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif08.jpg" alt="Team Member">
                        <h3>Escapada de fin de semana a Brunei<div class="precio">Costo total <i class="fa fa-usd"></i>60.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/tOeol" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif09.jpg" alt="Team Member">
                        <h3>Aporte para asistir al Cherryblossom en Tokio<div class="precio">Costo total <i class="fa fa-usd"></i>120.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/etRG9" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif10.jpg" alt="Team Member">
                        <h3>Aporte para clases de Tagalo<div class="precio">Costo total <i class="fa fa-usd"></i>100.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/Jf1Gd" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif11.jpg" alt="Team Member">
                        <h3>Maletas para nuestro viaje<div class="precio">Costo total <i class="fa fa-usd"></i>70.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/Hft5W" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif12.jpg" alt="Team Member">
                        <h3>Aporte para retiro introspectivo en coordinación con el Ministerio de la Felicidad de Bután<div class="precio">Costo total <i class="fa fa-usd"></i></div></h3>
                        <p>(La felicidad no tiene precio)</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/zPdwB" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif13.jpg" alt="Team Member">
                        <h3>Aporte para amoblar y decorar nuestro nuevo hogar en Manila<div class="precio">Costo total <i class="fa fa-usd"></i>170.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/cGEoF" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
