          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">¿Quieres hacernos un regalito?</h1>
                <p>Aquí hay una lista de lugares donde nos encantaría estar en nuestra luna de miel, además de algunas cosas que nos hacen falta para el departamento.</p>
              </div>
            </div>
            <div class="row">
              <div class="team-wrapper">
                <div>
                  <ul>

                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif01.jpg" alt="Team Member">
                        <h3>Cena Romántica para los novios<div class="precio">Costo total <i class="fa fa-usd"></i>1.082.688</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/ArDMT" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/gif02.jpg" alt="Team Member">
                        <h3>Regalo Sorpresa<div class="precio">Costo total <i class="fa fa-usd"></i>782.223</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/IMIDr" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}/img/regalos/gif03.jpg" alt="Team Member">
                        <h3>Vuelo en Globo Aerostático<div class="precio">Costo total <i class="fa fa-usd"></i>462.814</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/Wudaj" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/gif04.jpg" alt="Team Member">
                        <h3>Clases de buceo en islas filipinas<div class="precio">Costo total <i class="fa fa-usd"></i>333.535</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/c2K6b" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif05.jpg" alt="Team Member">
                        <h3>Pasajes y estadía para la Copa del Mundo en Rusia 2018<div class="precio">Costo total <i class="fa fa-usd"></i>315.760</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/WsNBi" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif06.jpg" alt="Team Member">
                        <h3>Aire(s) Acondicionado(s)<div class="precio">Costo total <i class="fa fa-usd"></i>315.760</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/WsNBi" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif07.jpg" alt="Team Member">
                        <h3>Pasajes Aéreos a Nepal<div class="precio">Costo total <i class="fa fa-usd"></i>315.760</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/WsNBi" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif08.jpg" alt="Team Member">
                        <h3>Escapada de fin de semana a Brunei<div class="precio">Costo total <i class="fa fa-usd"></i>315.760</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/WsNBi" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif09.jpg" alt="Team Member">
                        <h3>Asistir al Cherryblossom en Tokio<div class="precio">Costo total <i class="fa fa-usd"></i>315.760</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/WsNBi" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif10.jpg" alt="Team Member">
                        <h3>Clases de Tagalo<div class="precio">Costo total <i class="fa fa-usd"></i>315.760</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/WsNBi" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif11.jpg" alt="Team Member">
                        <h3>Maletas para nuestro viaje<div class="precio">Costo total <i class="fa fa-usd"></i>315.760</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/WsNBi" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif12.jpg" alt="Team Member">
                        <h3>Retiro introspectivo en coordinación con el Ministerio de la Felicidad de Bután<div class="precio">Costo total <i class="fa fa-usd"></i>315.760</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/WsNBi" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gif13.jpg" alt="Team Member">
                        <h3>Ayúdenos a amoblar y decorar nuestro nuevo hogar en Manila<div class="precio">Costo total <i class="fa fa-usd"></i>315.760</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/WsNBi" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
